---
# Certificate Authority Files
ca_crt: |
  -----BEGIN CERTIFICATE-----
  -----END CERTIFICATE-----

ca_key: |
  -----BEGIN PRIVATE KEY-----
  -----END PRIVATE KEY-----

ca_srl:

# Client Certificate Files
client_crt: |
  -----BEGIN CERTIFICATE-----
  -----END CERTIFICATE-----

client_key: |
  -----BEGIN PRIVATE KEY-----
  -----END PRIVATE KEY-----

client_csr: |
  -----BEGIN CERTIFICATE REQUEST-----
  -----END CERTIFICATE REQUEST-----

client_ext: |
  [ v3_client ]
  authorityKeyIdentifier=
  basicConstraints=
  keyUsage = 
  subjectAltName = 
  
# Binary P12 (if generated) converted to Base64
client_p12_b64:
