https_domain:
ssl_client_p12_alias:
project_name:

jenkins_version:
jenkins_worker_version:

nginx_version:
openssl_version:
pcre_version:
zlib_version:

ubuntu_version:

keycloak_version:

maven_version:
eclipse_temurin_version:
