postgresql_keycloak_postgresql_user:
postgresql_keycloak_postgresql_database:
postgresql_keycloak_postgresql_password:
postgresql_keycloak_postgresql_admin_password:
keycloak_database_user:
keycloak_database_name:
keycloak_database_password:
keycloak_admin:
keycloak_admin_password:
ssl_client_p12_password:
jenkins_worker_1_secret:
